@using Microsoft.AspNetCore.Mvc.Rendering

@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h1>Login</h1>

@using (Html.BeginForm(new { ReturnUrl = @Model.ReturnUrl }))
{
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
        @Html.ValidationSummary()
    </div>
}